* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5em + 2vmin);
  padding: 0.75rem;
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.25);
  margin-bottom: 0.75em;
}

@media(min-width: 600px) {
  .App {
    font-size: 1.5rem;
  }
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.spinning-loader {
  width: 3rem;
  height: 3rem;
  margin: 1.5rem;
  border: 0.55rem solid var(--gray);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: rotate 0.3s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75em;
}

.search-field {
  background: transparent;
  border: none;
  border-bottom: 4px solid var(--secondary-color);
  font-size: inherit;
  margin-right: 1em;
  transition: all 0.7s;
  outline: 0;
}

.search-field:hover,
.search-field:focus,
.search-field:active {
  border-bottom: 4px dotted var(--primary-color);
}

.search-button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.75rem;
  font-size: inherit;
  color: white;
  background: var(--secondary-color);
  transition: all 0.5s;
  outline: 0;
}

.search-button:disabled {
  background: gray;
}

.search-button:hover,
.search-button:focus,
.search-button:active {
  background: var(--primary-color);
  transform: translateX(2px) translateY(-2px);
  box-shadow: -2px 2px 0px 0px var(--secondary-color);
}